@model IEnumerable<APP_DATA.Models.HoaDonCT>

@{
    ViewData["Title"] = "Details";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tên sản phẩm")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_HoaDon)
            </th>
            <th>
                @Html.DisplayName("Giá bán")
            </th>
            <th>
                @Html.DisplayName("Số lượng")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_HoaDon)
                </td>
                <td>
                    <p class="card-text"> <b>@string.Format("{0:0,0}", @item.GiaBan) VNĐ</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
            </tr>
        }
    </tbody>
</table>
