@model IEnumerable<APP_DATA.DTO.SanPhamResponse>

@{
    ViewData["Title"] = "Index";
    List<string> extensions = new List<string>() { ".jpg", ".png", ".tiff", ".jpeg", ".webp" };
}

<h4>Danh sách sản phẩm</h4>

<p>
    <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Số lượng tồn</th>
            <th>Giá niêm yết</th>
            <th>Trạng thái</th>
            <th>Hình ảnh</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
@foreach (SanPhamResponse item in Model) {
        <tr>
            <td>@item.TenSanPham</td>
            <td>@item.SoLuongTon</td>
            <td>@string.Format("{0:0,0}", item.GiaNiemYet) VNĐ</td>
            <td>
                <div class="bg-light d-flex justify-content-center">
                    @{
                        var extension = System.IO.Path.GetExtension(item.Img);
                    }
                    @if (@extensions.Contains(extension))
                    {
                        <div class="img-container d-flex justify-content-center" style="width: 100px; height: 100px;">
                            <img class="responsive-img" src="~/images/@item.Img" alt="@item.TenSanPham" style="object-fit:cover">
                        </div>
                    }
                </div>
            </td>
            <td>
                @if (item.TrangThai == StatusOptions.Active.ToString())
                {
                    <span class="badge bg-success">Hoạt động</span>
                }
                else
                {
                    <span class="badge bg-danger">Không hoạt động</span>
                }
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.ID_SanPham }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID_SanPham }, new { @class = "btn btn-info" })
                @* @Html.ActionLink("Delete", "Delete", new { id = item.ID_ChatLieu }, new { @class = "btn btn-danger" }) *@
            </td>
        </tr>
}
    </tbody>
</table>
