@model APP_DATA.DTO.MauSacResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MauSacResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_MauSac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_MauSac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenMauSac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMauSac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
